In [1]:
import pandas as pd

In [7]:
df=pd.read_csv("C:/Users/hp/Downloads/adult_csv.csv")
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K

In [8]:
df[['hoursperweek']].agg(['min','max','mean','sum'])

      hoursperweek
min       0.000000
max       4.000000
mean      1.950698
sum   95276.000000

In [9]:
df['hoursperweek'].skew()

-0.375887213162795

In [10]:
df['hoursperweek'].kurt()

0.4716007312739201

In [11]:
df['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)